meta name="twitter:card" content="summary"
meta name="twitter:site" content="@cyber_yoshida"
meta property="og:title" content="#{page_title}"
meta property="og:description" content="#{h page_description}"
meta property="og:url" content="#{site_url}/#{current_path}"
