#twitter
  = link_to 'Tweet', 'https://twitter.com/share', class: 'twitter-share-button', 'data-related' => 'cyber_yoshida', 'data-count' => 'horizontal'
  javascript:
    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
